@using timviec.Controllers;
@{
    var account = AuthController.account;
}

<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from shreethemes.in/landrick/layouts/index-job.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 04 Jun 2021 14:06:11 GMT -->
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - timviecit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="shortcut icon" href="~/images/favicon.ico">
    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons -->
    <link href="https://cdn.jsdelivr.net/npm/&#64;mdi/font@7.1.96/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/../../../unicons.iconscout.com/release/v3.0.6/css/line.css">
    <!-- Slider -->
    <link rel="stylesheet" href="~/css/tiny-slider.css" />
    <!-- Main Css -->
    <link href="~/css/style.min.css" rel="stylesheet" type="text/css" id="theme-opt" />
    <link href="~/css/colors/default.css" rel="stylesheet" id="color-opt">
    <link href='https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>
</head>
<body>
    <style>
        #fr-logo {
            display: none;
        }
        .short-text {
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 250px;
            white-space: nowrap;
        }
    </style>
    <!-- Loader -->
    <!-- <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div> -->
    <!-- Loader -->
    <!-- Navbar STart -->
    <header id="topnav" class="defaultscroll sticky">
        <div class="container">
            <!-- Logo container-->
            <a class="logo" href="/">
                <h3 class="mt-2">Timviecit</h3>
            </a>
            <div class="buy-button">
                @if (account != null)
                {
                    <div class="btn-group dropdown-primary">
                        <a class='dropdown-toggle hidden-arrow d-flex align-items-center'
                       href='#'
                       id='navbarDropdownMenuLink'
                       role='button'
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       style='gap: 10px'>
                            <p class='my-0'>@account.Name</p>
                            <img src='@account.Avatar'
                             class='rounded-circle'
                             height='35'
                             alt=''
                             loading='lazy' />
                        </a>
                        <div class="dropdown-menu" style="line-height:1.5">
                            @if (account is User)
                            {
                                <a class='dropdown-item' href='/users/@account.Id'>Hồ sơ</a>
                            } else
                            {
                                <a class='dropdown-item' href='/companies/@account.Id'>Hồ sơ</a>
                            }
                            <a class='dropdown-item' href='/auth/logout'>Đăng xuất</a>
                        </div>
                    </div>
                }
                else 
                {
                    <a href="/auth/login" class="btn btn-primary">Đăng nhập</a>
                }
            </div><!--end login button-->
            
            <!-- End Logo container-->
            <div class="menu-extras">
                <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
            </div>
             
            <div id="navigation"> 
                <!-- Navigation Menu-->
                <ul class="navigation-menu">
                    <li><a href="/" class="sub-menu-item">Trang chủ</a></li>
                    <li><a href="/jobs" class="sub-menu-item">Việc làm</a></li>
                    @if (account == null)
                    {
                        <li><a href="/auth/login" class="sub-menu-item">Tuyển dụng</a></li>
                    }
                    else
                    {
                        <li><a href="/companies/@account.Id/post" class="sub-menu-item">Tuyển dụng</a></li>
                    }
                </ul><!--end navigation menu-->
                <div class="buy-menu-btn d-none">
                    @if (account != null)
                    {
                        <div class="btn-group dropdown-primary">
                            <a class='dropdown-toggle hidden-arrow d-flex align-items-center'
                           href='#'
                           id='navbarDropdownMenuLink'
                           role='button'
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                           style='gap: 10px'>
                                <p class='my-0'>@account.Name</p>
                                <img src='@account.Avatar'
                                 class='rounded-circle'
                                 height='35'
                                 alt=''
                                 loading='lazy' />
                            </a>
                            <div class="dropdown-menu" style="line-height:1.5">
                                @if (account is User)
                                {
                                    <a class='dropdown-item' href='/users/@account.Id'>Hồ sơ</a>
                                }
                                else
                                {
                                    <a class='dropdown-item' href='/companies/@account.Id'>Hồ sơ</a>
                                }
                                <a class='dropdown-item' href='/auth/logout'>Đăng xuất</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <a href="/auth/login" class="btn btn-primary">Đăng nhập</a>
                    }
                </div><!--end login button-->

            </div><!--end navigation-->
        </div><!--end container-->
    </header><!--end header-->
    <!-- Navbar End -->
    <!-- Hero Start -->
    @RenderBody()
    <!-- Footer Start -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                    <a href="#" class="logo-footer">
                        <h3>Timviecit</h3>
                    </a>
                    <p class="mt-4 text-muted">Hàng ngàn công việc hấp dẫn đang chờ đợi bạn!</p>
                    <ul class="list-unstyled social-icon social mb-0 mt-4">
                        <li class="list-inline-item"><a href="~/javascript:void(0)" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                        <li class="list-inline-item"><a href="~/javascript:void(0)" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                        <li class="list-inline-item"><a href="~/javascript:void(0)" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                        <li class="list-inline-item"><a href="~/javascript:void(0)" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                    </ul><!--end icon-->
                </div><!--end col-->

                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <h5 class="text-dark footer-head">Việc Làm</h5>
                    <ul class="list-unstyled footer-list mt-4">
                        <li><a href="/jobs" class="text-muted"><i class="uil uil-angle-right-b me-1"></i> Tìm việc</a></li>
                        @if (account != null)
                        {
                            <li><a href="/companies/@account.Id/post" class="text-muted"><i class="uil uil-angle-right-b me-1"></i> Tuyển dụng</a></li>
                        } else
                        {
                            <li><a href="/auth/login" class="text-muted"><i class="uil uil-angle-right-b me-1"></i> Tuyền dụng</a></li>
                        }
                    </ul>
                </div><!--end col-->

                <div class="col-lg-4 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <h5 class="text-dark footer-head">Nhận tin tuyển dụng</h5>
                    <p class="mt-4 text-muted">Đăng ký và nhận thông tin tuyển dụng sớm nhất từ chúng tôi.</p>
                    <form>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="foot-subscribe foot-white mb-3">
                                    <label class="text-muted form-label">Điền email của bạn<span class="text-danger">*</span></label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="mail" class="fea icon-sm icons"></i>
                                        <input type="email" name="email" id="emailsubscribe" class="form-control bg-light border ps-5 rounded" placeholder="Email : " required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="d-grid">
                                    <input type="submit" id="submitsubscribe" name="send" class="btn btn-primary" value="Đăng ký">
                                </div>
                            </div>
                        </div>
                    </form>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </footer><!--end footer-->
    <!-- Back to top -->
    <a href="#" onclick="topFunction()" id="back-to-top" class="btn btn-icon btn-primary back-to-top"><i data-feather="arrow-up" class="icons"></i></a>
    <!-- Back to top -->
    <!-- javascript -->
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <!-- SLIDER -->
    <script src="~/js/tiny-slider.js"></script>
    <!-- Icons -->
    <script src="~/js/feather.min.js"></script>
    <!-- Switcher -->
    <script src="~/js/switcher.js"></script>
    <!-- Main Js -->
    <script src="~/js/plugins.init.js"></script><!--Note: All init js like tiny slider, counter, countdown, maintenance, lightbox, gallery, swiper slider, aos animation etc.-->
    <script src="~/js/app.js"></script><!--Note: All important javascript like page loader, menu, sticky menu, menu-toggler, one page menu etc. -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script>
        setTimeout(function () { $('.alert-dismissible').hide(); }, 4000);
    </script>
    <!-- <script src="~/js/site.js"></script>-->
    @await RenderSectionAsync("Scripts", required: false)
</body>

<!-- Mirrored from shreethemes.in/landrick/layouts/index-job.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 04 Jun 2021 14:06:13 GMT -->
</html>
