@using timviec.Controllers;
@model User
@{
    ViewData["title"] = Model.Name;
    var isOwn = AuthController.account?.Id == Model.Id ? true : false;
}

@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show w-25 position-absolute" role="alert" style="top:15px;right:15px;z-index:1000;">
        @TempData["success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> </button>
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show w-25 position-absolute" role="alert" style="top:15px;right:15px;z-index:1000;">
        @TempData["error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> </button>
    </div>
}

<!-- Hero Start -->
<section class="bg-half-260 d-table w-100" style="background: url('/images/job/company.jpg');">
    <div class="bg-overlay"></div>
</section><!--end section-->
<!-- Hero End -->
<!-- Candidate Detail Start -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-12">
                <div class="card job-profile shadow border-0">
                    <div class="text-center py-5 border-bottom rounded-top">
                        <img src="@Model.Avatar" class="avatar avatar-medium mx-auto rounded-circle shadow d-block" alt="">
                        <h5 class="mt-3 mb-0">@Model.Name</h5>
                        <p class="text-muted mb-0">@Model.Title</p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Thông tin cá nhân :</h5>

                        <ul class="list-unstyled">
                            <li class="h6"><i data-feather="mail" class="fea icon-sm text-warning me-3"></i><span class="text-muted">Email :</span> @Model.Email</li>
                            <li class="h6"><i data-feather="gift" class="fea icon-sm text-warning me-3"></i><span class="text-muted">Ngày sinh :</span> @Model.Birthday?.ToString("dd-MM-yyyy")</li>
                            <li class="h6"><i data-feather="home" class="fea icon-sm text-warning me-3"></i><span class="text-muted">Địa chỉ :</span> @Model.Location</li>
                            <li class="h6"><i data-feather="phone" class="fea icon-sm text-warning me-3"></i><span class="text-muted">Số điện thoại :</span> @Model.Phone</li>

                            <li>
                                <ul class="list-unstyled social-icon mb-0 mt-4">
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="github" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="youtube" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="gitlab" class="fea icon-sm fea-social"></i></a></li>
                                </ul><!--end icon-->
                            </li>
                        </ul>
                        <div class="d-grid">
                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#Contactme" class="btn btn-primary"><i class="uil uil-envelope align-middle"></i> Chỉnh sửa</a>
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-8 col-md-7 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="ms-lg-4">
                    <h4>Giới thiệu:</h4>
                    <p class="text-muted">@Model.Description</p>

                    <!-- Skills Start -->
                    <h4 class="mt-lg-5 mt-4">Skills :</h4>
                    <div class="progress-box mt-4">
                        <h6 class="title text-muted">WordPress</h6>
                        <div class="progress">
                            <div class="progress-bar position-relative bg-primary" style="width:84%;">
                                <div class="progress-value d-block text-muted h6">84%</div>
                            </div>
                        </div>
                    </div><!--end process box-->
                    <div class="progress-box mt-4">
                        <h6 class="title text-muted">PHP / MYSQL</h6>
                        <div class="progress">
                            <div class="progress-bar position-relative bg-primary" style="width:75%;">
                                <div class="progress-value d-block text-muted h6">75%</div>
                            </div>
                        </div>
                    </div><!--end process box-->
                    <div class="progress-box mt-4">
                        <h6 class="title text-muted">Angular / JavaScript</h6>
                        <div class="progress">
                            <div class="progress-bar position-relative bg-primary" style="width:79%;">
                                <div class="progress-value d-block text-muted h6">79%</div>
                            </div>
                        </div>
                    </div><!--end process box-->
                    <div class="progress-box mt-4">
                        <h6 class="title text-muted">HTML</h6>
                        <div class="progress">
                            <div class="progress-bar position-relative bg-primary" style="width:95%;">
                                <div class="progress-value d-block text-muted h6">95%</div>
                            </div>
                        </div>
                    </div><!--end process box-->
                    <!-- Skills End -->
                    <!-- Experience Start -->
                    <h4 class="mt-lg-5 mt-4">Experience :</h4>
                    <div class="row">
                        <div class="col-lg-12 mt-4 pt-2">
                            <div class="d-flex">
                                <div class="company-logo text-muted h6 me-3 text-center">
                                    2017-18
                                </div>
                                <div class="flex-1">
                                    <h5 class="title mb-0">Back-end Developer</h5>
                                    <small class="text-muted company-university">Codepen - CHINA</small>
                                    <p class="text-muted mt-2 mb-0">It seems that only fragments of the original text remain in the Lorem Ipsum texts used today. One may speculate that over the course of time certain letters were added or deleted at various positions within the text. </p>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-12 mt-4 pt-2">
                            <div class="d-flex">
                                <div class="company-logo text-muted h6 me-3 text-center">
                                    2014-17
                                </div>
                                <div class="flex-1">
                                    <h5 class="title mb-0">Senior Web Designer</h5>
                                    <small class="text-muted company-university">CircleCi - SAN FRANCISCO</small>
                                    <p class="text-muted mt-2 mb-0">It seems that only fragments of the original text remain in the Lorem Ipsum texts used today. One may speculate that over the course of time certain letters were added or deleted at various positions within the text. </p>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                    <!-- Experience End -->
                </div>
            </div><!--end col-->
        </div><!--enn row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Modal Content Start -->
<div class="modal fade" id="Contactme" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded shadow border-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Cập nhật thông tin </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <div class="custom-form mt-3">
                    <form method="post">
                        <p id="error-msg" class="mb-0"></p>
                        <div id="simple-msg"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Avatar :</label>
                                    <input class="form-control" type="file" id="formFile">
                                </div>
                            </div><!--end col-->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Họ & tên :<span class="text-danger">*</span></label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="user" class="fea icon-sm icons"></i>
                                        <input value="@Model.Name" name="name" id="name" type="text" class="form-control ps-5" required placeholder="Họ & tên :">
                                    </div>
                                </div>
                            </div><!--end col-->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Tiêu đề :</label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="book" class="fea icon-sm icons"></i>
                                        <input value="@Model.Title" name="title" type="text" class="form-control ps-5" placeholder="Tiêu đề :">
                                    </div>
                                </div>
                            </div><!--end col-->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Email :<span class="text-danger">*</span></label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="mail" class="fea icon-sm icons"></i>
                                        <input value="@Model.Email" name="email" id="email" type="email" class="form-control ps-5" required placeholder="Email :">
                                    </div>
                                </div>
                            </div><!--end col-->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Điện Thoại :<span class="text-danger">*</span></label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="phone" class="fea icon-sm icons"></i>
                                        <input value="@Model.Phone" name="phone" id="number" type="text" class="form-control ps-5" required placeholder="Số điện thoại :">
                                    </div>
                                </div>
                            </div><!--end col-->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Ngày sinh :<span class="text-danger">*</span></label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="calendar" class="fea icon-sm icons"></i>
                                        <input value="@Model.Birthday" name="birthday" type="date" id="subject" class="form-control ps-5" required placeholder="Ngày sinh :">
                                    </div>
                                </div>
                            </div><!--end col-->
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Địa chỉ :</label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="map-pin" class="fea icon-sm icons"></i>
                                        <input value="@Model.Location" name="location" id="subject" class="form-control ps-5" placeholder="Địa chỉ :">
                                    </div>
                                </div>
                            </div><!--end col-->
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label">Giới thiệu <span class="text-danger">*</span></label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="message-circle" class="fea icon-sm icons clearfix"></i>
                                        <textarea name="description" required id="comments" rows="4" class="form-control ps-5" placeholder="Giới thiệu đôi nét về bản thân...">@Model.Description</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="d-grid">
                                    <button type="submit" id="submit" class="btn btn-primary">Cập nhật</button>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </form>
                </div><!--end custom-form-->
            </div>
        </div>
    </div>
</div>
<!-- Modal Content End -->
<!-- Candidate Detail End -->