@using timviec.Controllers;
@model Company
@{
    ViewData["title"] = Model.Name;
    var isOwn = AuthController.account?.Id == Model.Id ? true : false;
}

@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show w-25 position-absolute" role="alert" style="top:15px;right:15px;z-index:1000;">
        @TempData["success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> </button>
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show w-25 position-absolute" role="alert" style="top:15px;right:15px;z-index:1000;">
        @TempData["error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> </button>
    </div>
}

<!-- Hero Start -->
<section class="bg-half-260 d-table w-100" style="background: url('/images/job/company.jpg') center center;">
    <div class="bg-overlay"></div>
</section><!--end section-->
<!-- Hero End -->
<!-- Company Detail Start -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-12">
                <div class="job-profile position-relative">
                    <div class="rounded shadow bg-white">
                        <div class="text-center py-5 border-bottom">
                            <img src="@Model.Avatar" class="avatar avatar-medium mx-auto rounded-circle d-block" alt="">
                            <h5 class="mt-3 mb-0">@Model.Name</h5>
                            <p class="text-muted mb-0">Nhà tuyển dụng</p>
                        </div>

                        <div class="p-4">
                            <h5>Thông tin chi tiết :</h5>
                            <ul class="list-unstyled mb-4">
                                <li class="h6"><i data-feather="map-pin" class="fea icon-sm text-warning me-3"></i><span class="text-muted">Địa chỉ :</span> @Model.Locaiton</li>
                                <li class="h6"><i data-feather="link" class="fea icon-sm text-warning me-3"></i><span class="text-muted">Website :</span> @Model.Website</li>
                                <li class="h6"><i data-feather="mail" class="fea icon-sm text-warning me-3"></i><span class="text-muted">Email :</span> @Model.Email</li>
                                <li class="h6"><i data-feather="phone" class="fea icon-sm text-warning me-3"></i><span class="text-muted">Số điện thoại :</span> @Model.Phone</li>
                            </ul>
                            @if (isOwn)
                            {
                                <div class="d-grid">
                                    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#ApplyNow" class="btn btn-primary">Chỉnh sửa</a>
                                </div>
                            }
                        </div>
                    </div>
                    @if (isOwn)
                    {
                        <div class="mt-4">
                            Bạn đang tìm kiếm ứng viên?
                            <a href="/companies/@Model.Id/post">Tuyển dụng ngay.</a>
                        </div>
                    }
                </div>
            </div><!--end col-->

            <div class="col-lg-8 col-md-7 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="ms-md-4">
                    <h4>Mô tả công ty</h4>
                    @Html.Raw(@Model.Description)

                    <h4 class="mt-lg-5 mt-4">Tham gia với chúng tôi :</h4>
                    <div class="row">
                        @foreach (var obj in Model.Jobs)
                        {
                            <div class="col-lg-6 mt-4 pt-2">
                                <a href="/jobs/@obj.Id" class="text-dark">
                                    <div class="key-feature d-flex align-items-center p-3 bg-white rounded shadow">
                                        <div class="icon text-center rounded-circle me-3">
                                            <i data-feather="monitor" class="fea icon-ex-md text-primary"></i>
                                        </div>
                                        <div class="content">
                                            <h4 class="title mb-0">@obj.Name</h4>
                                            <p class="text-muted mb-0">@obj.Category?.Name</p>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <!--end col-->
                        }
                        <div class="col-12 mt-4 pt-2">
                            <a href="/jobs?company=@Model.Id" class="btn btn-primary">Tất cả công việc <i class="uil uil-angle-right-b align-middle"></i></a>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Modal Content Start -->
<div class="modal fade" id="ApplyNow" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded shadow border-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Hồ sơ </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <form method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Avatar :</label>
                                <input class="form-control" name="avatar" type="file" id="formFile">
                            </div>
                        </div><!--end col-->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Tên Công Ty :<span class="text-danger">*</span></label>
                                <div class="form-icon position-relative">
                                    <i data-feather="user" class="fea icon-sm icons"></i>
                                    <input value="@Model.Name" name="name" id="name" type="text" class="form-control ps-5" required placeholder="Tên công ty :">
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Email :<span class="text-danger">*</span></label>
                                <div class="form-icon position-relative">
                                    <i data-feather="mail" class="fea icon-sm icons"></i>
                                    <input value="@Model.Email" name="email" id="email" type="email" class="form-control ps-5" required placeholder="Email :">
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Điện Thoại :</label>
                                <div class="form-icon position-relative">
                                    <i data-feather="phone" class="fea icon-sm icons"></i>
                                    <input value="@Model.Phone" name="phone" id="number" type="text" class="form-control ps-5" placeholder="Số điện thoại :">
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Website :</label>
                                <div class="form-icon position-relative">
                                    <i data-feather="book" class="fea icon-sm icons"></i>
                                    <input value="@Model.Website" name="website" id="subject" class="form-control ps-5" placeholder="Website :">
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Địa chỉ :<span class="text-danger">*</span></label>
                                <div class="form-icon position-relative">
                                    <i data-feather="map-pin" class="fea icon-sm icons"></i>
                                    <input value="@Model.Locaiton" name="location" id="subject" class="form-control ps-5" required placeholder="Địa chỉ :">
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Mô tả :<span class="text-danger">*</span></label>
                                <textarea name="description" id="editor">@Html.Raw(@Model.Description)</textarea>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="submit" id="submit" class="submitBnt btn btn-primary" value="Cập nhật">
                        </div><!--end col-->
                    </div><!--end row-->
                </form><!--end form-->
            </div>
        </div>
    </div>
</div>
<!-- Modal Content End -->
<!-- Company Detail End -->

<script>
    //initialize the editor
    var editor = new FroalaEditor('#editor', {
        name: "description",
        toolbarInline: true,
        charCounterCount: false,
        toolbarVisibleWithoutSelection: true,
        placeholderText: "Giới thiệu về công ty như lịch sử, chuyên môn, môi trường,...",
    });
</script>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}